.idea
DataExploration/.ipynb_checkpoints
Solution/__pycache__/
/routingService/routingService.iml
/routingService/target
/routingService/.idea
/routingService/main/frontend/node_modules
/routingService/main/frontend/resources
/model/data
